/* jost-300 - latin_cyrillic */
@font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('../fonts/jost-v13-latin_cyrillic-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/jost-v13-latin_cyrillic-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* jost-regular - latin_cyrillic */
  @font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/jost-v13-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/jost-v13-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* jost-500 - latin_cyrillic */
  @font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/jost-v13-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/jost-v13-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
.wrapper {
    max-width: 59%;
    margin: 0 auto;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.header_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
}
.header_list {
    display: flex;
    flex-wrap: wrap;
}
.header_item {
    margin-right: 40px;
}
.header_item:last-child {
    margin-right: 0;
}
.header_link{
    font-family: 'Jost';
    font-weight: 400;
    font-size: 18px;
    color: white;
    text-decoration: none;
}
li {
    list-style-type: none;
    /* Убираем маркеры */
  }
  
  ul {
    margin-left: 0;
    /* Отступ слева в браузере IE и Opera */
    padding-left: 0;
    /* Отступ слева в браузере Firefox, Safari, Chrome */
  }
  .header_link:hover, .header_link:focus, .header_link:active{
      opacity: .75;
  }
  .slide {
      height: 100vh;
      background: no-repeat center url(../img/10.jpg);
      background-size: cover;
      background-position: 0 -110px;
  }
